.fade-in {
  opacity: 0;
  animation: fadeIn 1.2s ease-in forwards;
}

.scale-in {
  transform: scale(0.95);
  opacity: 0;
  animation: scaleIn 1s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
